.Medium {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 2148px;
  height: 4512px;
  z-index: 96;
}
.Height:_37px_Padding:_Left_14px___Right_14px {
  font-size: 14px;
  font-family: "Open Sans";
  color: rgb(34, 46, 50);
  line-height: 1.714;
  text-align: left;
  position: absolute;
  left: 1333.672px;
  top: 285.005px;
  z-index: 95;
}
.Medium {
  font-size: 14px;
  font-family: "Open Sans";
  color: rgb(28, 175, 227);
  line-height: 1.714;
  text-align: left;
  position: absolute;
  left: 1168.594px;
  top: 260.502px;
  z-index: 94;
}
.Rectangle_6 {
  border-width: 1px;
  border-color: rgb(28, 175, 227);
  border-style: solid;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 1156px;
  top: 254px;
  width: 78px;
  height: 35px;
  z-index: 93;
}
