@model IntegratedProject3.Models.Document

@{
    ViewBag.Title = "Details";
}

<h2>"@Html.Raw(Model.DocTitle)" - Details</h2>

<div>
    <h4>Document Details</h4>
    <hr />
    <dl class="dl-horizontal">                                                                              
    </dl>
</div>
<p>
    @Html.ActionLink("View Details of Revision", "Details", new { id = Model.RevisionNum }) |
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
