@model IEnumerable<IntegratedProject3.Models.Document>

@{
    ViewBag.Title = "Documents";
}

<h2>Documents</h2>

<p>
    <a href="/Documents/Create" class="btn btn-primary btn-lg">Create New Document</a>
</p>
<table class="table">
    <tr>
        <th class="th">Document Title</th>
        <th class="th">Revision Number</th>
        <th class="th">Creation Date</th>
        <th class="th">Activation Date</th>

    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>            
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>

